<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PAZIGRADConnectionString" connectionString="Data Source=10.0.1.106;Initial Catalog=PAZIGRAD;Persist Security Info=True;User ID=pazigrad;Password=p4z1gr4d"
      providerName="System.Data.SqlClient" />
    <add name="GRADSKO_OKOConnectionString" connectionString="Data Source=10.0.1.106;Initial Catalog=GRADSKO_OKO;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214"
      providerName="System.Data.SqlClient" />
    <add name="GO_RIING_NETConnectionString" connectionString="Data Source=10.0.1.106;Initial Catalog=GO_RIING_NET;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214"
      providerName="System.Data.SqlClient" />
    <add name="LokacijeConnectionString1" connectionString="Data Source=10.0.1.106;Initial Catalog=Lokacije;Persist Security Info=True;User ID=pazigrad;Password=p4z1gr4d"
      providerName="System.Data.SqlClient" />
    <add name="PG.Servisi.Properties.Settings.LokacijeConnectionString"
      connectionString="Data Source=10.0.1.106;Initial Catalog=Lokacije;Persist Security Info=True;User ID=pazigrad;Password=p4z1gr4d"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://parking.service.mup.hr:9004/ParkingService.svc"
        behaviorConfiguration="Client2WaySSL" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_MUP.Parking.WebServiceInterface"
        contract="MUPParking.MUPParkingWebServiceInterface" name="MUP.Parking.WebServicePort" />
      <endpoint address="http://www.ri-ing.net/services/go/GOPazigrad.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGOPazigrad"
        contract="GOService.IGOPazigrad" name="BasicHttpBinding_IGOPazigrad" />
      <endpoint address="http://85.114.62.234:30102/services/PositionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPositionService"
        contract="PazigradPCService.IPositionService" name="BasicHttpBinding_IPositionService" />
      <endpoint address="http://fiskalizacija.ri-ing.net/FiskalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFiskalService"
        contract="FiskalizacijaSR.IFiskalService" name="BasicHttpBinding_IFiskalService" />
    </client>
    <!--http://servisi.debug-riing.net/go/GOPazigrad.svc-->
    <!--http://www.ri-ing.net/services/go/GOPazigrad.svc-->
    <!--http://localhost:49982/GOPazigrad.svc-->
    <!--http://fiskalizacija.ri-ing.net/FiskalService.svc-->
    <!--http://servisi.debug-riing.net/go/GOPazigrad.svc-->
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" closeTimeout="00:10:00" openTimeout="00:01:00"
          receiveTimeout="00:01:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="10000000" maxReceivedMessageSize="10000000"
          useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_MUP.Parking.WebServiceInterface"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8"
          transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IGOPazigrad" />
        <binding name="BasicHttpBinding_IPositionService" />
        <binding name="BasicHttpBinding_IFiskalService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGAdministracija">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGAdministracija">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGOdvjetnici">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGOdvjetnici">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGOprema">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGOprema">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGMobile">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGMobile">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGMup">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGMup">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGPauk">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGPauk">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGParking">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGParking">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGStatistika">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGStatistika">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGNadzor">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGNadzor">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="beh" name="PG.Servisi.PGGO">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="PG.Servisi.IPGGO">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Client2WaySSL">
          <clientCredentials>
            <clientCertificate findValue="CN=parking.client.service.mup.hr" storeLocation="LocalMachine" />
            <serviceCertificate>
              <defaultCertificate findValue="CN=service.mup.hr" storeLocation="LocalMachine" storeName="TrustedPeople" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="Client2WaySSLLSU">
          <clientCredentials>
            <clientCertificate findValue="CN=lsu.client.service.mup.hr" storeLocation="LocalMachine" />
            <serviceCertificate>
              <defaultCertificate findValue="CN=service.mup.hr" storeLocation="LocalMachine" storeName="TrustedPeople" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="beh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="System.Net.trace.log" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
    </switches>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>