<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <span style="font-family: Arial; font-size: 10pt">Pozdrav <b>{ImePrezime}</b>,<br />
        <br />
        Izdana je nova naredba za {tip} od strane prometnog redarstva!
        <br />
        <br />
        Naredba za {tip} br.: <span style="font-weight: bold; color: #de0000; font-family: Consolas;">{id}</span>
        <br />
        <br />
        <b>LP,
        <br />
        Tehnička podrška
        </b>
        <br />
        <br />
        <img height="90" src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/Logo.png" /><br />
        e-mail: <a href="mailto:support@pazigrad.com">support@pazigrad.com</a><br />
        web: <a href="http://www.pazigrad.net/">http://www.pazigrad.net/</a>
        <br />
        <br />
        <br />
    </span>
</body>
</html>
