<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="margin: 0; padding: 0;">
    <div style=" background: linear-gradient(black, #de0000); border-bottom: black solid 1px;">
        <div style="width: 800px; margin-left: auto; margin-right: auto;">
            <img src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/Logo.png" style="height: 128px; vertical-align: middle; margin-left: 30px;">
            <div style="float: right; margin-top: 100px; height: 20px;">
                &nbsp;&nbsp;
                Grad: {Grad}
                &nbsp;&nbsp;| &nbsp;&nbsp;
                Prijavio: {Osoba}
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div style="margin-right: auto; margin-left: auto; height: 40px; font-size: 33px; color: white; text-align: center;background: linear-gradient(to bottom, #de0000 65%,#000000 100%); font-family: fantasy; text-shadow: 2px 2px black;">
        NARUDŽBA MATERIJALA
    </div>
    <div style="border-left: 1px solid #999999; border-right: 1px solid #999999; width: 800px; margin-right: auto; margin-left: auto; min-height: 400px;">
        <br />
        <div style="float: left; margin-left: 10px;">
            Broj narudžbe: {Broj} / {Datum}
        </div>
        <div style="float: right; margin-right: 10px;">
            {Aplikacija}
        </div>
        <div style="clear:both;"></div>
        <div style="padding: 10px;">
            <br />
            Naloga od 300 kn: &nbsp;&nbsp;{Tristo}
            <br />
            Naloga od 500 kn: &nbsp;&nbsp;{Petsto}
            <br />
            Naloga od 700 kn: &nbsp;&nbsp;{Sedamsto}
            <br />
            <hr />
            Etuia: &nbsp;&nbsp;{Etuia}
            <br />
            <hr />
            Traka za printer: &nbsp;&nbsp; {Traka}
            <br />
            <hr />
            Način isporuke: &nbsp;&nbsp; {Isporuka}
            <br />
            <br />
            Napomena:
            <br/>
            <br />
            {Napomena}
            <br />
            <br />
            <div style="margin-right: auto; margin-left: auto; text-align: center; border-bottom: 1px solid #999999;  border-top: 1px solid #999999;">ADRESA ZA ISPORUKU</div>
            <br />
            <div style="font-size: 18px; text-align: center;">{Adresa}</div>
            <br />
        </div>
    </div>
    <div style=" border-bottom: black solid 1px; border-top: black solid 1px;background: linear-gradient(to bottom, lightgrey 80%, White 100%); background-color: lightgrey; text-align: center; height: 45px;">
        <a href="http://www.ri-ing.net" style="text-decoration: none; color: black; line-height: 45px; vertical-align: middle;">
            <img src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/Logo.png" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 30px;">
            PAZIGRAD - Sva prava pridržana 2010&copy; RI-ING NET d.o.o.
            <img src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/RIINGNET.png" style="height: 50px; vertical-align: middle; margin-left: 30px;">
        </a>
    </div>
</body>
</html>
