<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <span style="font-family: Arial; font-size: 10pt">Pozdrav <b>Podrško!</b>,<br />
        <br />
        Otvorena je nova JLS u PAZIGRAD-u!<br />
        <br />
        Nova JLS je:
        <span style="font-weight: bold; color: #de0000;">{JLS}</span>
        <br />
        Aktivacijski kod je:
        <span style="font-weight: bold; color: #de0000;">{kod}</span>
        <br />
        <br />
        {web}
        <br />
        <br />
        <span style="font-weight: bold; color: #de0000;">Potrebno je dodati vpp korisnika da lazo može bazi pristupiti! (NEVIO)</span>
        <br />
        <br />
        <b>LP,<br />
            Tehnička podrška
        </b>
        <br />
        <br />
        <img height="90" src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/Logo.png" /><br />
        e-mail: <a href="mailto:support@pazigrad.com">support@pazigrad.com</a><br />
        web: <a href="http://www.pazigrad.net/">http://www.pazigrad.net/</a>
        <br />
        <br />
        <br />
    </span>
</body>
</html>
