<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <span style="font-family: Arial; font-size: 10pt">Pozdrav <b>{ImePrezime}</b>,<br />
        <br />
        Dobrodošli u PAZIGRAD!<br />
        <br />
        <span style="font-weight: bold; color: #333;">Vaši podaci za prijavu u sustav PAZIGRAD</span><br />
        Korisničko ime: <span style="font-weight: bold; color:  #de0000;">{KorisnickoIme}</span>
        <br />
        Lozinka: <span style="font-weight: bold; color:  #de0000;">{Lozinka}</span>
        <br />
        Aktivacijski kod za aplikacije: <span style="font-weight: bold; color: #de0000; font-family: Consolas;">{Kod}</span>
        <br />
        <br />
        <br />
        Ukoliko imate kakvih pitanja stojimo Vam na raspolaganju.
        <br />
        <br />
        <br />
        <b>LP,<br />
            Tehnička podrška
        </b>
        <br />
        <br />
        <img height="90" src="http://54.72.8.215/services/pazigrad/resources/images/backgrounds/Logo.png" /><br />
        e-mail: <a href="mailto:support@pazigrad.com">support@pazigrad.com</a><br />
        web: <a href="http://www.pazigrad.net/">http://www.pazigrad.net/</a>
        <br />
        <br />
        <br />

    </span>
</body>
</html>
