<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\dpajalic\Desktop\PG.Servisi.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>test_pauk</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PARKING_RIINGNETConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.222.6\RAZVOJDB;Initial Catalog=PARKING_RIINGNET;Persist Security Info=True;User ID=razvoj;Password=razvoj@net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PARKING_RIINGNETConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.222.6\RAZVOJDB;Initial Catalog=PARKING_RIINGNET;Persist Security Info=True;User ID=razvoj;Password=razvoj@net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GO_RIING_NETConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.1.243;Initial Catalog=GO_RIING_NET;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GO_RIING_NETConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.1.243;Initial Catalog=GO_RIING_NET;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GRADSKO_OKOConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.1.243;Initial Catalog=GRADSKO_OKO;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GRADSKO_OKOConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.1.243;Initial Catalog=GRADSKO_OKO;Persist Security Info=True;User ID=gradskooko;Password=Gr4d5k0oko#3214" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SPIDERSLIKEConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.17.0.200\A;Initial Catalog=SPIDERSLIKE;User ID=XXX;Password=XXX" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SPIDERSLIKEConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.17.0.200\A;Initial Catalog=SPIDERSLIKE;User ID=XXX;Password=XXX" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PAZIGRADConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.222.6\RAZVOJDB;Initial Catalog=PAZIGRAD;Persist Security Info=True;User ID=razvoj;Password=razvoj@net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PAZIGRADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.222.6\RAZVOJDB;Initial Catalog=PAZIGRAD;Persist Security Info=True;User ID=razvoj;Password=razvoj@net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LokacijeConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.1.243;Initial Catalog=Lokacije;User ID=pazigrad;Password=p4z1gr4d" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LokacijeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.1.243;Initial Catalog=Lokacije;User ID=pazigrad;Password=p4z1gr4d" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RISPIDERConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.17.0.200\A;Initial Catalog=RISPIDER;Persist Security Info=True;User ID=XXX;Password=XXX" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RISPIDERConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.17.0.200\A;Initial Catalog=RISPIDER;Persist Security Info=True;User ID=XXX;Password=XXX" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GO_RIING_NETConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GRADSKO_OKOConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LokacijeConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PARKING_RIINGNETConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PAZIGRADConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RISPIDERConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SPIDERSLIKEConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>